#{extends 'main.html' /}
#{set title:'Home' /}

<!DOCTYPE html>

		#{form @saveUser()}
    	
	  <form action="@{Application.saveUser()}" method="POST">
			<h3>&{'message.form'}</h3>
			#{if flash.error}
			<h4 class="error">${flash.error}</h4>
			#{/if}
			#{else}
			<h5>&{'message.register'}</h5>
			#{/else}
			
			<fieldset>
				#{field 'user.name'} 
				<input placeholder="&{'message.name'}" name="user.name" type="text" tabindex="1"  autofocus value="${user?.name}">
				#{/field}
			</fieldset>
			<fieldset>
				#{field 'user.surname'} 
				<input placeholder="&{'message.surname'}" name="user.surname" type="text" tabindex="1"  autofocus value="${user?.surname}">
				#{/field}
			</fieldset>
			<fieldset>
				#{field 'user.password'} 
				<input placeholder = "&{'message.password'}" name="user.password" type="password" tabindex="2" required value="${user?.password}">
				#{/field}
			</fieldset>
			<fieldset>
				#{field 'user.passwordRepeat'} 
				<input placeholder="&{'message.repeatpassword'}" name="user.passwordRepeat" type="password" tabindex="2" required value="${user?.passwordRepeat}">
				#{/field}
			</fieldset>
			
			<fieldset>
				#{field 'user.email'} 
				<input placeholder="&{'message.mailaddress'}" name="user.email" type="email" tabindex="2" required value="${user?.email}">
				#{/field}
			</fieldset>
            
            <fieldset>
		#{field 'user.currencyFromUser'} 	
	    <select name="user.currencyFromUser" value="${user?.currencyFromUser}">
		<option value="bitcoin(BTC)  $">bitcoin</option>
		<option value="litecoin(LTC)  $">litecoin</option>
		</select>
		#{/field}
            </fieldset>

            <fieldset>
			#{field 'user.currencyToUser'} 
	    <select name="user.currencyToUser" value="${user?.currencyToUser}">
		<option value="bitcoin(BTC)  $" >bitcoin</option>
        <option value="litecoin(LTC)  $" >litecoin</option>
	    </select>
		    #{/field}
            </fieldset>

            <fieldset>
				<button id="send" name="submit" value="index" type="submit" id="contact-submit" data-submit="...Sending">&{'message.send'}</button>
			</fieldset>
			<fieldset>
				<label>
				<input type="checkbox" value="false" required > &{'message.declaration'} <a href="#">regulaminem</a>
				</label>
			</fieldset>


	  </form>
      #{/form}
	