#{extends 'main.html' /}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

	
  <h1>&{'message.hello'}</h1>

  <p>&{'message.replacementRegistered'}</p>  

 <h1>&{'message.helloPrice'} ${name1 ?: '&{message.technicalProblems}'} &{'message.coinmarketcap'} ${price1 ?: '&{message.technicalProblems}'}</h1>

 <h1>&{'message.helloPrice'} ${name2 ?: '&{message.technicalProblems}'} &{'message.coinmarketcap'} ${price2 ?: '&{message.technicalProblems}'}</h1>

#{form @saveTransaction()}
<form action="@{Application.saveTransaction()}" method="POST">
<fieldset>
	#{field 'user.name'} 
    <input placeholder="&{'message.enterValueToExchange'}" name="user.amountFromUser" type="number" required autofocus value="${user?.amountFromUser}">
	#{/field}
</fieldset>
</form>
#{/form}


</body>

</html>
